/* Variable */
/* Maps */
/* Extend */
.main .noticiasMain, .main .noticiasMain .btn {
  display: flex;
  justify-content: center; }

/* Mixin */
.header .navegador {
  background-color: #ff4400; }
  .header .navegador .navegador__div__a .navegador__div__a__logoNav {
    width: 4em; }
  .header .navegador .navegador__div__a .navegador__div__a_titutoNavBar {
    font-family: 'Red Hat Mono', monospace;
    color: white;
    font-size: 24px; }

.header .nav-link {
  background-color: rgba(255, 166, 0, 0.233);
  font-family: 'Nunito', sans-serif;
  font-weight: 900; }

.header .linkHeader:hover, .header .linkHeader:active {
  font-size: 110%; }

.main {
  background: #ff8800;
  background: radial-gradient(circle, rgba(255, 136, 0, 0.908001) 0%, #ffc991 100%); }

.footer {
  background-color: #ff4400; }
  .footer .footer__ul {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
    .footer .footer__ul .footer__ul__li {
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 5px; }
      .footer .footer__ul .footer__ul__li .footer__ul__li__a {
        color: #060658; }
    .footer .footer__ul .footer__ul__li:hover, .footer .footer__ul .footer__ul__li:active {
      font-size: 110%; }

.main .mainSlogan {
  border: solid 1px black;
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700; }

.main .tituloIndexNovedades {
  border: solid 1px black;
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }

.main .noticiasIndex .noticiasIndexCard {
  width: auto;
  height: auto;
  background-color: bisque; }
  .main .noticiasIndex .noticiasIndexCard .card-title {
    font-family: 'Nunito', sans-serif; }
  .main .noticiasIndex .noticiasIndexCard .btn {
    background-color: orangered;
    color: white; }

.main .noticiasMain {
  margin: auto; }
  .main .noticiasMain .divNoticiasIndex {
    background-color: #fde1c0;
    border: solid 1px grey; }
  .main .noticiasMain .card-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900; }
  .main .noticiasMain .card-text {
    text-align: center;
    font-family: 'Nunito', sans-serif; }
  .main .noticiasMain .botonNot {
    background-color: #b63e13;
    font-family: 'Nunito', sans-serif;
    font-weight: 900; }
  .main .noticiasMain .botonNot:hover, .main .noticiasMain .botonNot:active {
    font-size: 110%; }

.mainAcercaNos {
  border: solid 1px black;
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }

.divNosotros {
  background-color: #FFE8CD;
  font-family: 'Nunito', sans-serif;
  font-weight: 700; }

.mainServiciosTitulo {
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }

.divServicios {
  background-color: #FFE8CD; }
  .divServicios .card-header {
    background-color: #834832;
    color: white;
    font-family: 'Nunito', sans-serif; }

.divCardServicio .serviciosCardP {
  font-family: 'Nunito', sans-serif; }

.mainNovedadesT {
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }

.noticiasMain .divNosotrosBg {
  background-color: #FFE8CD;
  border: solid 1px grey; }

.mainContactoT {
  border: solid 1px black;
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }

.divContacto .btnEnviar {
  background-color: #b63e13;
  font-family: 'Nunito', sans-serif;
  font-weight: 900; }

.divContacto .btnEnviar:hover, .divContacto .btnEnviar:active {
  font-size: 110%; }

.mainNoticiasT {
  background-color: #b63e13;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px; }
