.mainContactoT{
    border: solid 1px black;
    background-color: rgb(182, 62, 19);
    color: white;
    text-align: center;
    margin: 30px;
    padding: 10px; 
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.btnEnviar{
    background-color: rgb(182, 62, 19);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}
.btnEnviar:hover, .btnEnviar:active{
    font-size: 110%;
}