.main{
    
    .mainSlogan{
        border: solid 1px black;
        background-color:map-get($colores_de_background, bgDivNoticias);
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 30px;
        padding: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }
    
    .tituloIndexNovedades{
        border: solid 1px black;
        background-color:map-get($colores_de_background, bgDivNoticias);
        color: white;
        text-align: center;
        margin: 30px;
        padding: 10px;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
   .noticiasIndex{
       .noticiasIndexCard{
           width: auto;
           height: auto;
           background-color: bisque;
        .card-title{
            font-family: 'Nunito', sans-serif;  
        } 
        .btn{
        background-color: orangered;
        color: white;
        }
    }
         
    
   
    }
   
    .noticiasMain{
        @extend %flex-center;
        margin: auto; 
        
        
        .divNoticiasIndex{
            background-color:map-get($colores_de_background,bgNoticiasIndex);
            border: solid 1px grey;
        }

        .card-title{
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-weight:900;
            
        }

        .card-text{
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }
        
            
        
        .btn{
           @extend %flex-center;
        }

        .botonNot{
            background-color:map-get($colores_de_background, bgBotones );
            font-family: 'Nunito', sans-serif;
            font-weight: 900;
        }
        
        .botonNot:hover, .botonNot:active{
           font-size: 110%;
        }
    
    }
   
}