.mainNoticiasT{
    background-color: rgb(182, 62, 19);
    color: white;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px; 
}
