.mainServiciosTitulo{
   
    background-color: rgb(182, 62, 19);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.divServicios{
    background-color:#FFE8CD;

    .card-header{
        background-color: rgb(131, 72, 50);
        
        color: white;
        font-family: 'Nunito', sans-serif;
    
    }
}
.divCardServicio{
    
    .serviciosCardP{
        
        font-family: 'Nunito', sans-serif;
    } 
}

